* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
}

.div-main {
    font-family: sans-serif;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    top: 0;
    left: 0;
    right: 0;
    margin: 25vh auto;
    max-width: 500px;
    border: 1px solid #595959;
    border-radius: 5px;
    box-shadow: 0px 5px 20px black;
}

input,
textarea {
    border: 1px solid;
    border-color: grey
}

input[type=submit] {
    color: black;
    padding: 5px;
    background: white;
    transition: 0.3s;
}

input[type=submit]:hover {
    color: white;
    transition: 0.3s;
    background: black;
}

#divListProducts {
    width: 98.2%;
}

#divListProducts div {
    background: #f5ead0;
}

#divPaginationButtons {
    width: 98.2%;
}

#anchor {
    padding: 10px;
    width: 100%;
    text-align: center;
}

#anchor a {
    text-decoration: none;
    padding: 3px 6px;
    transition: 0.5s;
}

#anchor a:hover {
    border: 2px dotted black;
    transition: 0.5s;
    color: black;
    border-radius: 10px;
}