*{
	margin: 0;
	padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
#div-main{
    display: flex;
    font-family: sans-serif;background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    top:0;
	left: 0;
	right: 0;
	margin:25vh auto;width: 500px;padding: 3px;
    border:1px solid #000000;border-radius: 5px;
    box-shadow: 0px 6px 12px -6px white;
}
input[type=submit]{
    color:black;float: right;padding: 3px;
    background: white;transition:0.3s;border:1px solid grey;
}
input[type=submit]:hover{
    color:white;transition:0.3s;
    background: #000;border-color: #000000;
}
#cartlistProductId{
    width: 70%; border:1px solid #000000;
    padding-right:12px;padding: 3px;
}
#divCart{
    width:30%;border:1px solid #000000;
    margin: 0 0 0 4px; padding: 3px;
}
.divCart-one{
    background:  #f5ead0;border:1px solid #000000;
    height: 35%;margin-bottom: 55px;padding: 3px;
}
#divCart a{
    color: #000000;margin: 30px;
}
.name-user{
    height: 10vh;
    border:1px solid #000000 !important;
    width: 100%;
    padding: 18px;
    background: #93a5cf;
    color: black;
}
.name-user div{
    width: 300px;
}
.name-user button{
    border:0.5px solid #000000;
    color: black;
    width: 70px;
    border-radius: 4px;
    padding: 10px;
    margin-top: -23px;
    background: #fc891c;
    float: right;transition: 0.4s;
}
.name-user button:hover{
    transform: scale(0.9);transition: 0.4s;
    background:#faa452;
}